@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #003c43;
	--secondary: #135d66;
	--teal: #77b0aa;
	--aqua: #e3fef7;
	--light-blue: #4a7785;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #003c43;
		--secondary: #135d66;
		--teal: #77b0aa;
		--aqua: #e3fef7;
		--light-blue: #4a7785;
	}
}

body {
	background: var(--primary);
	color: white;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
