@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #003c43;
	--secondary: #135d66;
	--teal: #77b0aa;
	--aqua: #e3fef7;
	--light-blue: #4a7785;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #003c43;
		--secondary: #135d66;
		--teal: #77b0aa;
		--aqua: #e3fef7;
		--light-blue: #4a7785;
	}
}

body {
	background: var(--primary);
	color: white;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
/* HTML: <div class="loader"></div> */
.loader {
	width: 120px;
	height: 22px;
	border-radius: 40px;
	color: var(--aqua);
	border: 2px solid;
	position: relative;
	overflow: hidden;
}
.loader::before {
	content: '';
	position: absolute;
	margin: 2px;
	width: 14px;
	top: 0;
	bottom: 0;
	left: -20px;
	border-radius: inherit;
	background: currentColor;
	box-shadow: -10px 0 12px 3px currentColor;
	clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%, -30px 50%);
	animation: l14 1s infinite linear;
}
@keyframes l14 {
	100% {
		left: calc(100% + 20px);
	}
}
